<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
    
        <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
      <link href="https://fonts.cdnfonts.com/css/satoshi" rel="stylesheet">
        >
    </head>
<body>

  <nav>
    <ul>
      <li id="title-name"><a href="/">Sciventory</a></li>
    </ul>
    <ul>
      <li><a href="https://drive.google.com/file/d/1einrizio-tWR6cLVym4cruS_IJGCuvHG/view?usp=sharing" class="secondary nav-button">Chemical Hygiene Plan</a></li>
      <li class="dropdown">
        <div class="dropdown-button">
          Account
        </div>
        <ul>
          <li><a href="/table">View Inventory</a></li>
          <li><a href="/room-view">View Room Checks</a></li>
          <li><a href="/admin">Inventory (Admin)</a></li>
          <li><a href="/room-table">Room Checks (Admin)</a></li>
          <li><a href="/logout">Sign Out</a></li>
        </ul>
      </li>
    </ul>
  </nav>
    
    <!-- Display existing entries -->
    <table id="room-check-table" border="1">
        <thead>
            <tr>
                <th>Date</th>
                <th>Room</th>
                <th>Gas Shutoff</th>
                <th>Power Shutoff</th>
                <th>Eye Wash</th>
                <th>Fire Extinguisher</th>
                <th>Fire Blanket</th>
                <th>Chemical PPE</th>
                <th>Fume Hood</th>
                <th>Emergency Spill Kits</th>
                <th>Gas Burners</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in data %}
            <tr>
                <td>{{ entry['Date'] }}</td>
                <td>{{ entry['Room'] }}</td>
                <td><input type="checkbox" {% if entry['Gas Shutoff'] == 'on' %}checked{% endif %} disabled></td>
                <td><input type="checkbox" {% if entry['Power Shutoff'] == 'on' %}checked{% endif %} disabled></td>
                <td><input type="checkbox" {% if entry['Eye Wash'] == 'on' %}checked{% endif %} disabled></td>
                <td><input type="checkbox" {% if entry['Fire Extinguisher'] == 'on' %}checked{% endif %} disabled></td>
                <td><input type="checkbox" {% if entry['Fire Blanket'] == 'on' %}checked{% endif %} disabled></td>
                <td><input type="checkbox" {% if entry['Chemical PPE'] == 'on' %}checked{% endif %} disabled></td>
                <td><input type="checkbox" {% if entry['Fume Hood'] == 'on' %}checked{% endif %} disabled></td>
                <td><input type="checkbox" {% if entry['Emergency Spill Kits'] == 'on' %}checked{% endif %} disabled></td>
                <td><input type="checkbox" {% if entry['Gas Burners'] == 'on' %}checked{% endif %} disabled></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>